body {
 text-align: center;
 background-color:lime;
}

.filtered {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1 / 1;       /* Makes it always square */
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

h1 {
 font-family: cursive;
 font-size: 30px;
}

button {
 margin:5px;
 border-radius: 10px;
 border: none;
 color: black;
 padding: 10px;
 font-size: 16px;
}

#upvote {
 background-color:white;
}

#downvote {
 background-color: red;
}

#votes {
 font-weight: bold;
 font-size: 25px;
}
