body {
 text-align: center;
 background-color:lime;
}

.filtered {
  width: 100%;
  max-width: 200px; /* or any size you want */
  height: auto;
  border-radius: 50%; /* makes it round */
  object-fit: cover; /* keeps image proportions */
  display: block;
  margin: 0 auto; /* centers the image */
}

h1 {
 font-family: cursive;
 font-size: 30px;
}

button {
 margin:5px;
 border-radius: 10px;
 border: none;
 color: black;
 padding: 10px;
 font-size: 16px;
}

#upvote {
 background-color:white;
}

#downvote {
 background-color: red;
}

#votes {
 font-weight: bold;
 font-size: 25px;
}
