body {
 text-align: center;
 background-color:turquoise;
}

.filtered {
 border-radius:50%;
 max-width:85%;
 height:auto;
 border:1px solid cyan;
// filter: grayscale(100%);
}

h1 {
 font-family: cursive;
 font-size: 30px;
}

button {
 margin:5px;
 border-radius: 10px;
 border: none;
 color: black;
 padding: 10px;
 font-size: 16px;
}

#upvote {
 background-color:white;
}

#downvote {
 background-color: red;
}

#votes {
 font-weight: bold;
 font-size: 25px;
}